{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}

    <div class="bg-white">
        
        <div class="max-w-2xl mx-auto py-8 px-4 sm:py-8 sm:px-6 lg:max-w-7xl lg:px-8">
          <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">Welcome to our store</h2>
      
          <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            {% for product in products %}
            <div class="group relative">
              <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                {% image product.image fill-800x1000 as tmp_image %}
                <img src="{{ tmp_image.url }}" alt="" class="img-responsive">
              </div>
              <div class="mt-4 flex justify-between">
                <div>
                  <h3 class="text-sm text-gray-700">
                    <a href="{{ product.get_url }}">
                      <span aria-hidden="true" class="absolute inset-0"></span>
                      {{ product.title }}
                    </a>
                  </h3>
                  <p class="mt-1 text-sm text-gray-500">{{ product.description }}</p>
                </div>
                <p class="text-sm font-medium text-gray-900">{{ product.price }}</p>
              </div>
            </div>
            {% endfor %}
            <!-- More products... -->
          </div>
        </div>
      </div>
{% endblock %}
