{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <link rel="stylesheet" href="{% static "css/tailwind-output.css" %}">


    {% load static wagtailsettings_tags %}
    {% get_settings %}

    {# Global stylesheets #}

    {# Snipcart #}

    {% if settings.home.SnipcartSettings.api_key %}
    <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
    <div hidden id="snipcart" data-api-key="{{ settings.home.SnipcartSettings.api_key }}"></div>
    <link rel="stylesheet" href="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.css" />
    {% endif %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    <nav class="bg-white">
        <div class="max-w-7xl mx-auto px-2 sm:px-2 lg:px-2">
          <div class="relative flex items-center justify-between h-16">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pl-0 sm:static sm:inset-auto sm:ml-6 sm:pl-0">
              <div class="hidden sm:block sm:ml-6">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/shop" class="hover:bg-gray-200 text-black underline px-3 py-2 rounded-md text-sm font-medium object-left items-left">Shop</a>
                </div>
              </div>
            </div>
            <div class="flex-1 flex object-center items-center justify-center sm:items-stretch sm:justify-center px-4">
              <div class="hidden sm:block sm:ml-6">
                <div class="flex-shrink-0 flex object-center items-center">
                  <a href="/"><img class="block lg:hidden h-8 w-auto" src="/media/original_images/The Shopping Cart Shop nobg Small.svg" alt="the shopping cart shop"></a>
                  <a href="/"><img class="hidden lg:block h-8 w-auto" src="/media/original_images/The Shopping Cart Shop nobg.svg" alt="the shopping cart shop"></a>
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-0 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
      
              <!-- Profile dropdown -->
              <div class="ml-3 relative">
                <div>
                    <a href="" class="hover:bg-gray-200 underline btn btn-primary snipcart-checkout text-black px-3 py-2 rounded-md text-sm font-medium">
                        <i class="icon icon-apps"></i>
                        View cart 🛒 (<span class="snipcart-items-count"></span>)
                    </a>
                </div>
  
    
              </div>
            </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="hover:bg-gray-700 text-white block px-3 py-2 rounded-md text-base font-medium">Products</a>
    
          </div>
        </div>
      </nav>

    <div class="">
        {% block content %}{% endblock %}
    </div>

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'js/snipcartwagtaildemo.js' %}"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
</body>

</html>